[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "/home/mandross/.vim/bundle/Vundle.vim"]
	path = /home/mandross/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
